.ready{
    height: 200px;
    background-color: $lightred;
    background-image: url(../img/ready.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    .ready_wrapper{
        display: flex;
        justify-content: space-around;
        h1{
            margin-top: 76px;
            color: #012F34;
            font-family: Livvic;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px; 
        }
        button{
            margin-top: 76px;
            width: 153px;
            height: 48px;
            border-radius: 24px;
            border: 2px solid #000;
            background-color: $lightred;
            a{
                color: #000;
            }
        }
    }
    @media (max-width:900px){
        .ready{
            h1{
                color: #012F34;
                font-family: Livvic;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
            }
        }
    }
}


